In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# File to Load
purchase_data_path = "Resources/purchase_data.csv"

In [3]:
# Read the modified GoodReads csv and store into Pandas DataFrame
purchases_df = pd.read_csv(purchase_data_path, encoding="utf-8")
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
################
# Player count #
################

# Total unique players
unique_players_df = pd.DataFrame(purchases_df["SN"].unique())
total_players = unique_players_df.count()
total_players

0    576
dtype: int64

In [15]:
###############################
# Purchasing Analysis (Total) #
###############################

# Number of unique items
unique_items_df = pd.DataFrame(purchases_df["Item Name"].unique())
num_unique_items = unique_items_df.count()
num_unique_items

0    179
dtype: int64

In [23]:
# Average purchase price
average_purchase_price = purchases_df["Price"].mean()
average_purchase_price = round(average_purchase_price, 2)
average_purchase_price

3.05

In [26]:
# Total number of purchases
total_purchases = purchases_df["Purchase ID"].count()
total_purchases

780

In [87]:
# Total revenue
total_revenue = purchases_df["Price"].sum()
"${:,.2f}".format(float(total_revenue))

'$2,379.77'

In [76]:
#######################
# Gender Demographics #
#######################

# Get unique player data frame
unique_players_df = purchases_df.drop_duplicates(['SN'], keep='last')

# In order to be visualized, a data function must be used...
unique_players_df.count().head(10)

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [93]:
# Gender counts
male_df = unique_players_df.loc[unique_players_df["Gender"] == "Male"]
male_count = male_df["Gender"].count()

female_df = unique_players_df.loc[unique_players_df["Gender"] == "Female"]
female_count = female_df["Gender"].count()

other_df = unique_players_df.loc[unique_players_df["Gender"] == "Other / Non-Disclosed"]
other_count = other_df["Gender"].count()

total_players = unique_players_df["Gender"].count()

print(f"Male Count: {male_count} ({round((male_count/total_players)*100,2)}%)")
print(f"Female Count: {female_count}")
print(f"Other Count: {other_count}")

 Male Count: 484 (84.03%)
Female Count: 81
Other Count: 11